h1 {
    text-shadow: 2px 2px #7b7d7a;
    text-size: 20px;
}

h2 {
    text-shadow: 2px 2px #7b7d7a;
    text-size: 25px;
    color: indigo;
}

body {
    text-align: center;
}

#WELCOME {
    background: linear-gradient(#bde3ba 0%, #6adb23 100%);
    padding: 20;
    fon-size: 18;
    text-align: center;
    z-index: 11;
}
.parallex-inner{
        display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

#para {
    background-color: blueviolet;
}

img {
    birder-radius: 50%;
    width: 100px;
}

.line {
    height: 6px;
    background-color: blue;
    width: 250px;
    margin: 8px auto;
}

.menu {
    list-style: none;
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 15;
}

.links {
    float: left;
    color: darkgreen;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 9px;
    padding-left: 9px;
    font-family: fantasy;
    font-size: 20px;
}

.links :hover {
    background-color: aqua;
}

